@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans";
  }
  *::-webkit-scrollbar {
    width: 0px;
  }
  
  *::selection {
    @apply bg-yellow-100 text-black-100;
    -webkit-text-fill-color: #000000;
  }

  @font-face {
    font-family: "December";
    src: url("/_static/fonts/December/DecemberMedium.woff2") format("woff2"),
      url("/_static/fonts/December/DecemberMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Hamlin";
    src: url("/_static/fonts/Hamlin/Hamlin-ExtraBold.woff2") format("woff2"),
      url("/_static/fonts/Hamlin/Hamlin-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Hamlin";
    src: url("/_static/fonts/Hamlin/Hamlin-Light.woff2") format("woff2"),
      url("/_static/fonts/Hamlin/Hamlin-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Hamlin";
    src: url("/_static/fonts/Hamlin/Hamlin-Regular.woff2") format("woff2"),
      url("/_static/fonts/Hamlin/Hamlin-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Hamlin";
    src: url("/_static/fonts/Hamlin/Hamlin-Bold.woff2") format("woff2"),
      url("/_static/fonts/Hamlin/Hamlin-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-Thin.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
    
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-Light.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-Regular.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-Medium.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-Semibold.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-SemiboldItalic.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-Bold.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-Extrabold.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-Extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Saygon";
    src: url("/_static/fonts/Saygon/Saygon-ExtraboldItalic.woff2") format("woff2"),
      url("/_static/fonts/Saygon/Saygon-ExtraboldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  h1 {
    @apply text-white-100 font-saygon text-4xl font-semibold;
  }

  h2 {
    @apply text-white-100 font-saygon text-4xl;
  }

  p {
    @apply text-white-100 font-saygon text-base mb-4;
  }


}

@layer components {
  .btn {
    @apply m-4 rounded-lg bg-yellow-100 text-black-100 font-saygon text-lg text-center hover:bg-yellow-200 py-2 px-3 flex items-center whitespace-nowrap w-[min-content] hover:cursor-pointer;
  }

  .btn:disabled {
    @apply bg-black-100 text-pink-200 border-2 border-pink-200 pointer-events-none;
  }

  .code-snippet {
    display: flex;
    flex-direction: column;
  }
  
  .code-snippet code.file-name {
    @apply text-black-100 bg-pink-200;
    border-radius: 0.4vh 0.4vh 0vh 0vh;
    padding: 0.6vh 0.6vh;
    overflow-wrap: break-word;
  }
  
  .code-snippet pre {
    margin-top: 0em;
  
    border-radius: 0vh 0vh 0.4vh 0.4vh;
  }
  
  .code-snippet pre code {
    overflow-y: scroll;
  }

  .checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    @apply bg-black-100 border-2 border-yellow-100 rounded-md;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    @apply border-solid border-yellow-200;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    @apply bg-black-100 border-2 border-yellow-100 rounded-md;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    @apply border-solid border-yellow-100;
  }

  input:-internal-autofill-selected {
    -webkit-text-fill-color: #feed01;
  }

  input:-internal-autofill-selected:focus {
    -webkit-text-fill-color: #f90090;
  }

  input:-internal-autofill-selected,
  input:-internal-autofill-selected:focus {
    -webkit-box-shadow:0 0 0 50px black inset;
  }

  .autoresize-textarea {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }

  .autoresize-textarea::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .autoresize-textarea > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .autoresize-textarea > textarea,
  .autoresize-textarea::after {
    /* Identical styling required!! */
    @apply border-2 border-yellow-100 rounded-lg p-2;
    background-color: inherit;
    font: inherit;
    color: inherit;
    width: inherit;
    font-size: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }

  .autoresize-textarea:focus-within > * {
    @apply text-pink-200 outline-none border-pink-200;
  }

}